{% extends "core/base.html" %}

{% block title %}
    Авторизация
{% endblock %}
{% block content %}
    <form method="post" action="{% url 'login' %}" class="mt-3 ms-3">
        {% csrf_token %}
        {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">E-mail:</label>
            {{ form.username }}
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">{{ form.password.label_tag }}</label>
            {{ form.password }}
        </div>
        <button type="submit" class="btn btn-secondary">Login</button>
    </form>
{% endblock %}