<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <div class="container-fluid">
        <div class="navbar-nav">
            <a class="nav-link active" href="{% url 'homepage' %}">На главную</a>
            {% if user.is_authenticated %}
                <div class="d-flex">
                    <div class="nav-link active">Вы вошли как: {{ user }}</div>
                    <a class="nav-link active" href="{% url 'list' %}">Список заметок</a>
                    <a class="nav-link active" href="{% url 'add' %}">Добавить заметку</a>
                </div>
                <div class="d-flex">
                    <a class="nav-link active" href="{% url 'logout' %}">Выйти</a>
                </div>
            {% else %}
                <a class="nav-link active" href="{% url 'login' %}">Авторизация</a>
                <a class="nav-link active" href="{% url 'signup' %}">Регистрация</a>
            {% endif %}
        </div>
    </div>
</nav>